# dependencies
/node_modules

# env files
.env*
!.env.example

# misc
.DS_Store

# local data: Jev's feedback tags
/.data/

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# next.js
/.next/
/out/
/build/
next-env.d.ts

.vercel
